body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background: #f7f9fa;
}

header {
  background: #004d40;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background: #00796b;
  color: white;
}
